body {
    padding-top: 80px;  /*Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes.*/ 
}

.navbar-right {
    padding-right: 20px;
}

a.nav-logo {
    background: transparent url("resource/logo.svg") no-repeat scroll left center / contain;
    text-align: right;
    width: 145px;
}

.talk-description {
    text-align: justify;
    text-justify: inter-word;
}

.talk-iframe {
    width: 100%;
}

.talk-splitter {
    height: 40px;
}

a.tags-link {
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 50px;
}

.contact-icon-big {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-icon-small {
    color: black;
}

.tags-list {
    line-height:30px;
    margin-bottom:0px;
}

.sort-and-filter-splitter {
    border-bottom: 0.3px solid black;
    margin-top:5px;
}

.about-header {
    text-align: center;
    padding-bottom: 20px;
}

.text-align-center {
    text-align: center;
}
