<div class="container">
    <div class="row hidden-xs">
        <div class="col-sm-8" ng-controller="TagController as tagCtrl">
            <ul class="list-unstyled list-inline tags-list" ng-if="tagCtrl.selectedTag == null">
                <li>Popular tags:</li>
                <li ng-repeat="tag in tagCtrl.tags">
                    <a href="#/tag/{{tag}}" class="tags-link"><span class="label label-default">{{tag}}</span></a>
                </li>
            </ul>
            <ul class="list-unstyled list-inline tags-list" ng-if="tagCtrl.selectedTag != null">
                <li>Selected tag:</li>
                <li>
                    <a href="#/tag/{{tagCtrl.selectedTag}}" class="tags-link"><span class="label label-default">{{tagCtrl.selectedTag}}</span></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button type="button" class="btn btn-default" ng-class="{'active': talksCtrl.sortByTalkDate}"
                        ng-click="talksCtrl.clickSortButton()">By Talk Date
                </button>
                <button type="button" class="btn btn-default" ng-class="{'active': talksCtrl.sortByAddedDate}"
                        ng-click="talksCtrl.clickSortButton()">By Added Date
                </button>
            </div>
        </div>
        <div class="col-sm-12 sort-and-filter-splitter"></div>
    </div>
    <br/>

    <div ng-repeat="talksRow in talksCtrl.talks">
        <div class="row">
            <div class="col-md-4 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1 col-xs-offset-0"
                    ng-repeat="talk in talksRow">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item talk-iframe" src="{{talk.embedded_url | TrustedFilter}}"></iframe>
                </div>
                <h3>
                    <a target="_blank" href="{{talk.url}}">{{talk.title}}</a><br/>
                    <small> by {{talk.author}} &bull; {{talk.talk_date}}</small>
                </h3>
                <p class="talk-description">{{talk.description}}</p>

                <p>
                    <ul class="list-unstyled list-inline tags-list">
                        <li ng-repeat="tag in talk.tags"><a href="#/tag/{{tag}}" class="tags-link"><span class="label label-default">{{tag}}</span></a></li>
                    </ul>
                </p>

                <div class="col-xs-12 visible-xs visible-sm talk-splitter"></div>
            </div>
        </div>

        <div class="row visible-md visible-lg talk-splitter"></div>
    </div>
</div>
